/* src/theme/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Blanco puro */
    --primary: 160 84% 39%; /* Emerald #10B981 */
    --secondary: 222 47% 11%; /* Slate #0F172A */
  }
}

/* Forzamos fondo blanco global para evitar pantallas negras */
body {
  @apply bg-white;
}
